/* Responsive : smartphones petits écrans 
   Responsive : smartphones petits écrans */

   @media only screen and (max-width: 480px) {
      .menuNav {
         justify-content: flex-start;
         float: left;
      }
      .logo {
         
      }

   }


/* Responsive : smartphones écrans plus larges  
   Responsive : smartphones écrans plus larges */

   @media only screen and (max-width: 767px) {
      
     

}


/* Responsive : tablettes  
   Responsive : tablettes */

   @media only screen and (max-width: 1023px) {

}


